{erl_opts, [debug_info]}.
{deps, [
        parse_trans,
        mockgyver
]}.

{profiles, [
            {test, [
                    {deps, [
                                {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.13"}}},
                                {rebar, {git, "https://github.com/klajo/mockgyver.git",{branch, "master"}}}
                           ]}
                   ]}
           ]}.

{cover_enabled, true}.
% {eunit_opts, [verbose]}.
